MONGODB_URI=mongodb+srv://rei-cloud:F6hItyXOvGX0vdiy@rei-cloud.xivtaem.mongodb.net/?retryWrites=true&w=majority&appName=rei-cloud
JWT_SECRET=c8a512e0a0d3b618766a5f38ebf18fd299c56f81b80911ddaf38d324bf9785cf
GOOGLE_CLIENT_ID=696803834771-26t27anbhf47nd3uktjmev3vs038j2lp.apps.googleusercontent.com
NODE_ENV=development